<%- include('partials/header') %>

<% if(title && author && content) { %>
    <div class="container mt-5">
        <h1><%= title %></h1>
        <p class="lead">By <%= author %></p>
        <hr class="my-4">
        <p class="blog-content"><%= content %></p>
        <a href="/article/edit/<%= id %>" class="btn btn-outline-primary me-2">Edit Post</a>
    </div>
<% } else { %>
    <div class="container mt-5">
        <h1>No post to display</h1>
    </div>
<% } %>

<%- include('partials/footer') %>